extends base
- block content
.container
	.row.clearfix
		.col-md-12
			h1
				| Welcome champions!
			p
				| Just Awesome is where the internet decide the top three news stories which is the very best, every day and every hour. The web platform allows modern news readers a place share, read and rate submissions in a democratic system of hunting for justice and awesomeness.
			p
				| Our sytem will count your votes and provide a podium that promotes just the most awesome stories at two daily deadlines. We are building a leauge where journalists and bradcasters can be rated by how people concider their message will impact the world. Every day the three most endorsed web articlles get's locked in a digital diary that will kept forever, as the history of inspiration grows by three stories every day at 00:00.
			p
				| Social news broadcasting is just awesome.
			p
				a.btn.btn-primary.btn-lg(href = "#")
					| Learn more
	.row.clearfix
		.col-md-12
			img.img-responsive.img-rounded(alt = "140x140" src = "http://lorempixel.com/140/140/")
			.page-header
				h1
					| It's Just Awesome! - Because our voice is yours, and your voice might become theirs...
	.row.clearfix
		.col-md-4.text-center
			img.img-circle(alt = "140x140" src = "http://ih1.redbubble.net/image.3446818.9003/flat,140x140,075,t.u4.jpg")
			h2
				| Vision
			p
				| Awesome justice makes just awsome.
			p
				| The vision of Just Awesome is to allow good information to be shared simply, evaluated democraticly and promoted viraly.
			a.btn(href = "#")
				| Learn more
		.col-md-4.text-center
			img.img-circle(alt = "140x140" src = "http://www.artfire.com/uploads/product/9/439/13439/5313439/5313439/default/clockwork_gears-steampunk_gear-etched_decorative_art_glass_paperweight_3e1ed611.jpg")
			h2
				| Functions
			p
				| Share, read and vote.
			p
				| The power lies in your hands as we provide a gamificated system that boosts the value of your likes and makes it possible to impact the world while browsing the internet.
			p
				a.btn(href = "#")
					| Learn more
		.col-md-4.text-center
			img.img-circle(alt = "140x140" src = "http://focus.mnsun.com/wp-content/uploads/2012/06/f221SPtrack-620-140x140.jpg")
			h2
				| Result
			p
				| Just the most awesome news online.
			p
				| Every day at 00:00 the three most inspirational news stories get's locked in and published, which allows the progress of the world to reach as many as possible, as fast as possible.
			p
				a.btn(href = "#")
					| Learn more
	.row
		.col-md-4.text-center
			img.img-circle(alt = "140x140" src = "http://www.bcs.org/upload/img/business-people-meeting.jpg")
			h2
				| Start
			p
				| The service is now in BETA testing and you have to get in line to participate in the community.
			.span
				| When you are inside you simply submit the URL of any article you feel makes the world better. The sources of the evaluated submissions goes to our leauge tables and show you the rating of journalists and broadcasters.
			p
				a.btn(href = "#")
					| Learn more
		.col-md-4.text-center
			img.img-circle(alt = "140x140" src = "http://lorempixel.com/140/140/")
			h2
				| Champions Leauge 2.0
			p
				| You can take your activity to another level by bringing your favorite news to group fights where we collect your opinions and make you come to an agreement. By exceeding to the leauge stages your democratic voice get's stronger and let you build points and honor in the community.
			p
				a.btn(href = "#")
					| Learn more
		.col-md-4.text-center
			img.img-circle(alt = "140x140" src = "http://www.pulsetoday.co.uk/pictures/140xAny/6/4/8/8648_legal_law_gavel_book_small.jpg")
			h2
				| Rules
			p
				| You have to plegde your alliegence to get access to the service.
			.span
				| The community demands that you play by the internal codex. There are rules for how to use the service and a system for votes, points and time limits.
			p
				a.btn(href = "#")
					| Learn more

-endblock