extends base
- block content
.container
	.row
		.col-md-12.text-center
			h1(font-size="200%")
				| Dont't miss out!
			h4
				| Have your say on todays nominations
			button.btn.btn-success.btn-lg
				| START

- endblock